@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
@import "https://fonts.googleapis.com/css?family=Lato:400,700";

.App {
  text-align: center;
  /* display: flex; */
  justify-content: center;
  justify-items: center;
  /* align-items: center; */
}

.form {
  max-width: 390px;
  background-color: rgba(0, 183, 255, 0.329);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 7px;
  margin: auto;
  padding: 60px;
  font-family: Lato, Montserrat;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.3;
  text-align: center;
  box-shadow: 0px 10px 40px rgb(32, 32, 32);
}

input {
  /* display: flex; */
  width: 100%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.562);
  background: transparent;
  border-bottom: px solid rgb(7, 7, 7);
  border-radius: 10px;
  outline: none;
  border: none;
  /* height: 20px; */
}

input:hover {
  background-color: cyan;
}

button {
  color: rgb(0, 0, 0);
  /* width: 200px; */
  background: rgba(245, 245, 245, 0.445);
  cursor: pointer;
}

button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #055bfc, 
              0 0 25px #0284fd, 
              0 0 50px #0375f7,
              0 0 100px #026dfa;
}
